<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard</title>
</head>
<body>
    <h1>This is a page for staff</h1>
    <button onclick="addNewData()">Add Cruise Data</button>
    <button onclick="fetchCruiseData()">Fetch Cruise Data</button>
    <button onclick="fetchCruiseDataById()">Fetch Cruise Data By Id</button>
    <button onclick="fetchAllBookings()">Fetch All Bookings</button>

    <div id="addCruiseForm" style="display:none;">
        <h2 id="headingUpdate">Add New Cruise Data</h2>
        <form id="cruiseForm" action="/addCruise" method="post">
            <!-- Add input fields for cruise data -->
            <label for="cruiseId">Cruise Id:</label>
            <input type="text" id="cruiseId" name="cruiseId"><br><br>

            <label for="cruiseName">Cruise Name:</label>
            <input type="text" id="cruiseName" name="cruiseName" required><br><br>

            <label for="shipName">Ship Name:</label>
            <input type="text" id="shipName" name="shipName" required><br><br>

            <label for="source">Source :</label>
            <input type="text" id="source" name="source" required><br><br>

            <label for="destination">Destination:</label>
            <input type="text" id="destination" name="destination" required><br><br>

            <label for="price">Price:</label>
            <input type="text" id="price" name="price" required><br><br>

            <label for="totalSeats">Total seats :</label>
            <input type="text" id="totalSeats" name="totalSeats" required><br><br>

            <label for="availableSeats">Available seats:</label>
            <input type="text" id="availableSeats" name="availableSeats" required><br><br>

            <button type="submit" id="buttonSubmit">Submit</button>

        </form>
    </div>

    <div id="fetchCruise" style="display:none">
        <form id="cruiseIdForm" action="/fetchCruiseDataById" method="get">
        Enter the cruiseId : <input type="text" id="cruiseIdField" name="cruiseId" required>
            <button type="submit">FETCH</button>
        </form>
    </div>


    <div id="fetchData">
        <!-- Fetch Data-->
        <ul th:each="cruise : ${cruiseList}">
            <li th:text="'Id: ' + ${cruise.cruiseId} + ', Cruise Name: ' + ${cruise.cruiseName} + ', Ship Name: ' + ${cruise.shipName} + ', Source: ' + ${cruise.source} + ', Destination: ' + ${cruise.destination} + ', Price: ' + ${cruise.price} + ', Total seats: ' + ${cruise.totalSeats} + ', Available seats: ' + ${cruise.availableSeats}"></li>
            <button th:attr="data-cruise-id=${cruise.cruiseId},
                          data-cruise-name=${cruise.cruiseName},
                          data-ship-name=${cruise.shipName},
                          data-source=${cruise.source},
                          data-destination=${cruise.destination},
                          data-price=${cruise.price},
                          data-total-seats=${cruise.totalSeats},
                          data-available-seats=${cruise.availableSeats}"
                    onclick="updateCruiseData(this)">UPDATE</button>
            <hr>
        </ul>
    </div>


    <div id="booksDiv" style="display:block">
        <h3 id="bookingsHeading" style="display: none">Bookings : </h3>
        <ul>

            <li th:each="result : ${combinedProject}">
                <p><strong>Booking ID:</strong> <span th:text="${result.bookingModel.bookingId}"></span></p>
                <p><strong>User Phone:</strong> <span th:text="${result.userModel.userPhone}"></span></p>
                <p><strong>Cruise Name:</strong> <span th:text="${result.cruiseModel.cruiseName}"></span></p>
                <p><strong>Ship Name:</strong> <span th:text="${result.cruiseModel.shipName}"></span></p>
                <p><strong>Source-Destination:</strong> <span th:text="${result.cruiseModel.source+ '-' +result.cruiseModel.destination}"></span></p>
                <p><strong>Price:</strong> <span th:text="${result.cruiseModel.price}"></span></p>
                <p><strong>Total_seats_Booked:</strong> <span th:text="${result.bookingModel.numberOfSeats}"></span></p>

                <hr>
            </li>
        </ul>

    </div>

<script>
    function addNewData(){
     document.getElementById("addCruiseForm").style.display = "block";
      document.getElementById('cruiseId').value = "";
      document.getElementById('cruiseId').disabled = false;
    document.getElementById('cruiseName').value = "";
    document.getElementById('shipName').value = "";
    document.getElementById('source').value = "";
    document.getElementById('destination').value = "";
    document.getElementById('price').value = "";
    document.getElementById('totalSeats').value = "";
    document.getElementById('availableSeats').value = "";
     document.getElementById("fetchData").style.display = "none";
     document.getElementById("fetchCruise").style.display = "none";
     document.getElementById("booksDiv").style.display = "none";
    }

    function fetchCruiseData() {
     document.getElementById("addCruiseForm").style.display = "none";
       document.getElementById("fetchData").style.display = "block";
       document.getElementById("fetchCruise").style.display = "none";
       document.getElementById("booksDiv").style.display = "none";
        window.location.href = "/getCruiseList";
    }

    function fetchCruiseDataById(){
       document.getElementById("addCruiseForm").style.display = "none";
       document.getElementById("fetchData").style.display = "none";
       document.getElementById("fetchCruise").style.display = "block";
       document.getElementById("booksDiv").style.display = "none";
    }

    function fetchAllBookings(){
      window.location.href="/fetchBookings";
    }

function updateCruiseData(button) {
    var cruiseId = button.getAttribute('data-cruise-id');
    var cruiseName = button.getAttribute('data-cruise-name');
    var shipName = button.getAttribute('data-ship-name');
    var source = button.getAttribute('data-source');
    var destination = button.getAttribute('data-destination');
    var price = button.getAttribute('data-price');
    var totalSeats = button.getAttribute('data-total-seats');
    var availableSeats = button.getAttribute('data-available-seats');

    // Populate form fields with retrieved values
    document.getElementById('cruiseId').value = cruiseId;
    document.getElementById('cruiseName').value = cruiseName;
    document.getElementById('shipName').value = shipName;
    document.getElementById('source').value = source;
    document.getElementById('destination').value = destination;
    document.getElementById('price').value = price;
    document.getElementById('totalSeats').value = totalSeats;
    document.getElementById('availableSeats').value = availableSeats;

    // Display the form
    document.getElementById('addCruiseForm').style.display = 'block';
    document.getElementById("fetchData").style.display = "none";
    document.getElementById("fetchCruise").style.display = "none";
    document.getElementById("booksDiv").style.display = "none";
    updateButtonText();
}

function updateButtonText() {
    document.getElementById('headingUpdate').innerText = "Update Form";
    document.getElementById('buttonSubmit').innerText = "Update";
    document.getElementById('buttonSubmit').setAttribute('id', 'newSubmitButtonId');
    document.getElementById('cruiseForm').setAttribute('action', '/updateCruise');
    document.getElementById('cruiseId').disabled = true; // Keep cruiseId disabled
}


function submitForm() {
   var form = document.getElementById('cruiseForm');
    var formData = new FormData(form);
    fetch(form.getAttribute('action'), {
        method: 'PUT',
        body: formData
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Failed to update cruise data');
        }
    })
    .catch(error => {
        console.error('Error updating cruise data:', error);
    });
}



<!--// Add event listener to the "Update" button-->
<!--    document.getElementById('buttonSubmit').addEventListener('click', function(event) {-->
<!--    // Check if the ID is 'buttonSubmit'-->
<!--    if (this.id === 'buttonSubmit') {-->
<!--       fetch(form.getAttribute('action'), {-->
<!--        method: 'POST',-->
<!--    })-->
<!--    }-->
<!--    else-->
<!--    {-->
<!--    document.getElementById('cruiseForm').setAttribute('action', '/updateCruise');-->
<!--     // Call the submitForm() function-->
<!--        event.preventDefault();-->
<!--        submitForm();-->
<!--    setTimeout(function(){-->
<!--        alert("updated successfully");-->
<!--         document.getElementById('addCruiseForm').style.display = 'none';-->
<!--    document.getElementById("fetchData").style.display = "none";-->
<!--    document.getElementById("fetchCruise").style.display = "none";-->
<!--    document.getElementById("booksDiv").style.display = "none";-->
<!--        },1000);-->
<!--      }-->

<!--    });-->


    // Add event listener to the "Update" button
document.getElementById('buttonSubmit').addEventListener('click', function(event) {
    // Check if the ID is 'buttonSubmit'
    if (this.id === 'buttonSubmit') {
        // If it is, submit the form using the default method (POST)
        return;
    }

    // Otherwise, it's an update action
    console.log('Updating cruise data...');
    document.getElementById('cruiseId').disabled = false;
    document.getElementById('cruiseForm').setAttribute('method', 'PUT'); // Change method to PUT
    event.preventDefault(); // Prevent the default form submission

    // Call the submitForm() function
    submitForm();


    setTimeout(function(){
        alert("updated successfully");
         document.getElementById('addCruiseForm').style.display = 'none';
    document.getElementById("fetchData").style.display = "none";
    document.getElementById("fetchCruise").style.display = "none";
    document.getElementById("booksDiv").style.display = "none";
        },1000);
});
</script>

    <script th:inline="javascript">
        /*<![CDATA[*/
            var showAlert = /*[[${showAlert}]]*/ false;
            var message = /*[[${message}]]*/ "";

            if (showAlert) {
                alert(message);
            }
        /*]]>*/
    </script>

</body>
</html>

<!--    <div id="fetchData">-->
<!--    &lt;!&ndash; Fetch Data&ndash;&gt;-->
<!--    <ul th:each="cruise : ${cruiseList}">-->
<!--        <li th:text="'Id :'+ ${cruise.cruiseId}+', Cruise Name : ' + ${cruise.cruiseName}+', Ship Name :'+ ${cruise.shipName}+', Source :'+ ${cruise.source}+', Destination : '+${cruise.destination}+', Price :'+ ${cruise.price}"></li>-->
<!--        <button th:attr="onclick='updateCruiseData(\'' + ${cruise.cruiseId} + '\')'">UPDATE</button>-->

<!--        <hr>-->
<!--    </ul>-->
<!--    </div>-->