<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Dashboard</title>
</head>
<body>
<h1>This is a page for staff</h1>
<form method="post" action="cruisedetails">
    Enter the new CruiseLine to be added :
    <input type="text" id="Cruisename" placeholder="Cruise Line name"> <br/>
    Enter the ship name to be added :
    <input type="text" id="shipname" placeholder="Cruise Line name"> <br/>
    <input type="submit" value="ADD">
</form>



<!--<label for="CruiseLine">Choose a CruiseLine:</label>-->
<!--<br>-->
<!--<select name="CruiseLine" id="CruiseLine">-->
<!--    <option value="volvo">Volvo</option>-->
<!--    <option value="saab">Saab</option>-->
<!--    <option value="mercedes">Mercedes</option>-->
<!--    <option value="audi">Audi</option>-->
<!--</select>-->
</body>
</html>