<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CruiseFunBooking</title>
</head>

<body>

<div id="logindiv">
<form id="loginForm" action="/login" method="post" >
    <label for="userPhone">Phone no :</label>
    <input type="text" id="userPhone" name="userPhone" placeholder="Enter your Phone number" required><br><br>

    <label for="userPassword">Password:</label>
    <input type="password" id="userPassword" name="userPassword" placeholder="Enter your password"/><br><br>

    <button type="submit">LOGIN</button><br><br>
</form>
</div>

<button onclick="register()">REGISTER</button><br><br>

<div id="registerForm" style="display:none">
<form id="userForm" action="/userRegister" method="post" >
    <label for="name">Name :</label>
    <input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>

    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" placeholder="Enter your userName" required><br><br>

    <label for="userGender">Gender:</label>
    <select id="userGender" name="userGender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select><br><br>

    <label for="userEmail">Email:</label>
    <input type="email" id="userEmail" name="userEmail" placeholder="Enter your email" required><br><br>

    <label for="userRPassword">Password:</label>
    <input type="password" id="userRPassword" name="userPassword" placeholder="Enter your password"/><br><br>

    <label for="userRPhone">Contact:</label>
    <input type="text" id="userRPhone" name="userPhone" placeholder="Enter your Mobile Number" required maxlength="10"><br><br>

    <button type="submit">Submit</button><br><br>
</form>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
        var showAlert = /*[[${showAlert}]]*/ false;
        var errorMessage = /*[[${errorMessage}]]*/ "";

        if (showAlert) {
            alert(errorMessage);
        }
    /*]]>*/
</script>

<script>
    function register(){
        document.getElementById("logindiv").style.display = "none";
       document.getElementById("registerForm").style.display = "block";
   }
</script>

</body>
</html>