<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body onload="checkPageLoad()">
<h1>This is a page for User</h1>

<!--<button onclick="result1()">Search by source and destination</button>-->
<!--<button onclick="result2()">Search by price</button>-->
<button onclick="allCruise()">All cruise</button>
<button onclick="result1()">Search the source and destination</button>
<button onclick="bookings()">My Bookings</button>



<!--<div id="sdSearchDiv" style="display:none">-->
<!--    <form id="search" action="/search" method="get">-->
<!--        <label for="source">Source :</label>-->
<!--        <input type="text" id="source" name="source" placeholder="Enter your source " required><br><br>-->
<!--        <label for="destination">Destination : </label>-->
<!--        <input type="text" id="destination" name="destination" placeholder="Enter your destination "/><br><br>-->
<!--        <button type="submit">SEARCH</button><br><br>-->
<!--    </form>-->
<!--</div>-->



<div id="sdSearchDiv" style="display:none">
    <form id="search" action="/search" method="get">
        <label for="source">Source :</label>
        <input type="text" id="source" name="source" placeholder="Enter your source " required><br><br>
        <label for="destination">Destination : </label>
        <input type="text" id="destination" name="destination" placeholder="Enter your destination "/><br><br>
        <label for="startPrice">Start Price :</label>
        <input type="text" id="startPrice" name="startPrice" placeholder="Enter your start price range" required><br><br>
        <label for="endPrice">End Price : </label>
        <input type="text" id="endPrice" name="endPrice" placeholder="Enter your end price range"/><br><br>
        <button type="submit">SEARCH</button><br><br>

    </form>
</div>


<!--<div id="priceDiv" style="display:none">-->
<!--    <form id="priceForm" action="/searchByPrice" method="get">-->
<!--        <label for="startPrice">Start Price :</label>-->
<!--        <input type="text" id="startPrice" name="startPrice" placeholder="Enter your start price range" required><br><br>-->
<!--        <label for="endPrice">End Price : </label>-->
<!--        <input type="text" id="endPrice" name="endPrice" placeholder="Enter your end price range"/><br><br>-->
<!--        <button type="submit">SEARCH</button><br><br>-->
<!--    </form>-->
<!--</div>-->

<br>
<br>

<div id="booksDiv" style="display:block">
<!--        <p>Bookings :</p>-->
    <h3 id="bookingsHeading" style="display: none">Bookings : </h3>
    <ul>
<!--        <li th:each="result : ${combinedProject}" th:text="${result} + '\n'"></li>-->
        <li th:each="result : ${combinedProject}">

            <p><strong>Booking ID:</strong> <span th:text="${result.bookingModel.bookingId}"></span></p>
            <p><strong>User Phone:</strong> <span th:text="${result.userModel.userPhone}"></span></p>
            <p><strong>Cruise Name:</strong> <span th:text="${result.cruiseModel.cruiseName}"></span></p>
            <p><strong>Ship Name:</strong> <span th:text="${result.cruiseModel.shipName}"></span></p>
            <p><strong>Source-Destination:</strong> <span th:text="${result.cruiseModel.source+ '-' +result.cruiseModel.destination}"></span></p>
            <p><strong>Price:</strong> <span th:text="${result.cruiseModel.price}"></span></p>
            <p><strong>Total_seats_Booked:</strong> <span th:text="${result.bookingModel.numberOfSeats}"></span></p>
<!--            <button th:attr="onclick='cancelBooking(\'' + ${result.bookingModel.bookingId} + '\')'">Cancel</button>-->
            <button th:attr="onclick='cancelBooking(\'' + ${result.bookingModel.bookingId} + '\', \'' + ${result.bookingModel.numberOfSeats} + '\')'">Cancel</button>
            <hr>
        </li>
    </ul>

</div>



<div id="searchResultDiv">
    <ul th:each="cruise : ${searchResults}">
        <li th:text="'Id :'+ ${cruise.cruiseId}+', Cruise Name : ' + ${cruise.cruiseName}+', Ship Name :'+ ${cruise.shipName}+', Source :'+ ${cruise.source}+', Destination : '+${cruise.destination}+', Price :'+ ${cruise.price}+ ', Total seats: ' + ${cruise.totalSeats} + ', Available seats: ' + ${cruise.availableSeats}"></li>
<!--        <p th:text="'User: ' + ${userInfo.userName}"></p>-->


        <form name="saveBooking" th:action="@{/bookSeats}" method="post">
                        <input type="hidden" name="userPhone" th:value="${userInfo.userPhone}">
                        <input type="hidden" name="cruiseId" th:value="${cruise.cruiseId}">
                        <button type="submit" style="color:red">BOOK</button>
        </form>

        <hr>
    </ul>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
        var showAlert = /*[[${showAlert}]]*/ false;
        var message = /*[[${message}]]*/ "";

        if (showAlert) {
            alert(message);
        }
    /*]]>*/
</script>

<script>

    function checkPageLoad() {
        // Check if the current URL includes "/bookings"
        if (window.location.href.includes("/bookings")) {
            document.getElementById("bookingsHeading").style.display = "block";
            document.getElementById("booksDiv").style.display = "block";
        }
    }

    function allCruise(){
        window.location.href="/searchAll";
    }



    function result1(){
        document.getElementById("sdSearchDiv").style.display = "block";
         document.getElementById("searchResultDiv").style.display = "none";
        document.getElementById("booksDiv").style.display = "none";
   }



<!--     function result2(){-->
<!--        document.getElementById("sdSearchDiv").style.display = "none";-->
<!--        document.getElementById("priceDiv").style.display = "block";-->
<!--        document.getElementById("booksDiv").style.display = "none";-->
<!--   }-->




    function bookings() {
    window.location.href = "/bookings";
        setTimeOut(function(){
        document.getElementById("sdSearchDiv").style.display = "none";
<!--        document.getElementById("priceDiv").style.display = "none";-->
        document.getElementById("booksDiv").style.display = "block";
    },1000);
}



    function cancelBooking(bookingId,numberOfSeats) {
<!--        fetch('/cancel-booking/' + bookingId , {-->
<!--            method: 'DELETE'-->
<!--        });-->

fetch(`/cancel-booking/${bookingId}/${numberOfSeats}`, {
        method: 'DELETE'
    })
        setTimeout(function(){
        alert("Deleted successfully");
         document.getElementById("sdSearchDiv").style.display = "none";
<!--        document.getElementById("priceDiv").style.display = "none";-->
        document.getElementById("booksDiv").style.display = "none";
        },1000);
      }

</script>



</body>

</html>

<!--        <form name="saveBooking" th:action="@{/bookCruise}" method="post" th:object="${bookingModel}">-->
<!--            <input type="hidden" name="bookingUser" th:value="${userInfo.userPhone}">-->
<!--            <input type="hidden" name="bookingCruise" th:value="${cruise.cruiseId}">-->
<!--            <button type="submit" style="color:red">BOOK</button>-->
<!--        </form>-->