<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Registrtion</title>
</head>
<body>
<div id="userFormdiv">
<form id="userForm" method="post" action="/cruise/userRegister">
    <label for="name">Name :</label>
    <input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>

    <label for="userName">Username:</label>
    <input type="text" id="userName" name="userName" placeholder="Enter your userName" required><br><br>

    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select><br><br>

    <label for="userEmail">Email:</label>
    <input type="email" id="userEmail" name="userEmail" placeholder="Enter your email" required><br><br>

    <label for="userPassword">Password:</label>
    <input type="password" id="userPassword" name="userPassword" placeholder="Enter your password"/><br><br>

    <label for="userPhone">Contact:</label>
    <input type="text" id="userPhone" name="userPhone" placeholder="Enter your Mobile Number" required maxlength="10"><br><br>

        <button type="submit">Submit</button><br><br>

    <script th:if="${showAlert}">
        alert('User added successfully!');
    </script>

</form>
</div>
</body>

<script></script>
</html>